@if(loading){<app-spinner ></app-spinner>}
@else {
<section class="product-container container p-5">
  <div class="img-card">
      <img [src]="selectedImage||imgDomain+product?.cover" alt="{{product.name}}" id="featured-image">
      <div class="small-Card ">
        @for(image of product?.images; track image){
          <div class="col-md-3">
            <img class="w-100 hover-zoom" [src]="imgDomain+image" [alt]="product.name" (click)="selectImage(image)">
          </div>
          }

      </div>
  </div>
  <!-- Right side -->
  <div class="product-info">
      <h3>{{product?.subcategory?.name}}</h3>
      <div class="product-title text-bold my-3">{{product?.name}}</div>
      <div class="price-area my-4">
        <p class="new-price text-bold mb-1">{{product?.price|currency}}</p>
        <p class="text-secondary mb-1">(Additional tax may apply on checkout)</p>
        <p class="new-price text-bold mb-1">{{product?.ratingAverage}} &star;</p>
      </div>

      <div class="product-details my-4">
        <h2 class="details-title text-color mb-1">Product Details</h2>
        <p class="description">{{product?.description}}</p>
      </div>

      <div class="quantity">
          <input type="number" value="1" min="1">
          <button class="btn gradient-custom-4" (click)="addToCart(product._id)">Add to Cart</button>
          <button (click)="addToWishlist(product._id)" class="btn ms-3 gradient-custom-4">Add to wishlist</button>
      </div>

      <div>
          <p>Delivery:</p>
          <p>Free standard shipping on orders over $35 before tax, plus free returns.</p>
          <div class="delivery">
              <p>TYPE</p> <p>HOW LONG</p> <p>HOW MUCH</p>
          </div>
          <hr>
          <div class="delivery">
              <p>Standard delivery</p>
              <p>1-4 business days</p>
              <p>$4.50</p>
          </div>
          <hr>
          <div class="delivery">
              <p>Express delivery</p>
              <p>1 business day</p>
              <p>$10.00</p>
          </div>

      </div>


<div name="reviews">
  <hr class="m-5 w-100">

  <form [formGroup]="reviewForm" (ngSubmit)="addReview(product._id,reviewForm)">
    <h3 for="comment ">We Value Your Feedback!</h3>
    <div class="form-floating">
      <textarea class="form-control" formControlName="comment" placeholder="Leave a comment here"
        id="floatingTextarea"></textarea>
      <label for="floatingTextarea">Review</label>
    </div>
    <div class="mt-3 text-danger">
      @if(reviewError!==''){ <label for="">{{reviewError}}</label> }
    </div>
    <div class="rating">
      <input type="radio" formControlName="rating" id="star5" name="rating" value="5" />
      <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
      <input type="radio" formControlName="rating" id="star4" name="rating" value="4" />
      <label class="star" for="star4" title="Great" aria-hidden="true"></label>
      <input type="radio" formControlName="rating" id="star3" name="rating" value="3" />
      <label class="star" for="star3" title="Very good" aria-hidden="true"></label>
      <input type="radio" formControlName="rating" id="star2" name="rating" value="2" />
      <label class="star" for="star2" title="Good" aria-hidden="true"></label>
      <input type="radio" formControlName="rating" id="star1" name="rating" value="1" />
      <label class="star" for="star1" title="Bad" aria-hidden="true"></label>
      <button class="btn btn-success shadow mt-2 mx-3 gradient-custom-4">Add Review</button>
    </div>
  </form>
</div>
  </div>
</section>
<section>
  <div class="container">
    <hr class="my-3 w-100">
    <h2 class="text-center">Product Reviews</h2>
    <hr class="my-3 w-100" >
    @if(product?.reviews?.length > 0) {
      <!-- Loop through reviews -->
      @for(review of product?.reviews; track review._id) {
        <div>
          <h4>{{review?.user?.name}}</h4>
          <p>{{review?.comment}} - {{review?.rating}}&star;</p>
          <p>{{review?.createdAt | date}}</p>
          <hr class="my-4 w-100">
        </div>
      }
    } @else {

      <h5 class="text-center p-3">No reviews yet</h5>
    }
  </div>
</section>
}


