<div class="card mt-5 mb-5">
  <div class="row">
    <div class="col-md-8 cart">
      <div class="title">
        <div class="row">
          <div class="col"><h4><b>Shopping Cart</b></h4></div>
          <div class="col align-self-center text-right text-muted">{{cart?.cartItems?.length}} items</div>
        </div>
      </div>
      @for(item of cart?.cartItems; track item._id) {
      <div class="row border-top border-bottom">
        <div class="row main align-items-center">
          <div class="col-2">
            <img class="img-fluid" [src]="productImage + item?.product?.cover" alt="{{item?.product?.name}}">
          </div>
          <div class="col">
            <div class="row text-muted">{{item?.product?.subcategory?.name}}</div>
            <div class="row">{{item?.product?.name}}</div>
          </div>
          <div class="col">{{item?.price | currency}}</div>
          <div class="col">
            <span class="close " style="cursor: pointer;" (click)="removeItem(item._id)">&times;</span>
          </div>
        </div>
      </div>
      }
      <div class="back-to-shop">
        <a href="#">&leftarrow;</a>
        <span class="text-muted">Back to shop</span>
        <button (click)="clearCart()" class="btn  float-right">Clear Cart</button>
      </div>
    </div>
    <div class="col-md-4 summary">
      <div><h5><b>Summary</b></h5></div>
      <hr>
      <div class="row">
        <div class="col" style="padding-left:0;">ITEMS {{cart?.cartItems?.length}}</div>
        <div class="col text-right">{{cart?.totalPrice | currency}}</div>
      </div>

      <!-- Tax Price -->
      <div class="row">
        <div class="col" style="padding-left:0;">TAX</div>
        <div class="col text-right">{{taxPrice | currency}}</div>
      </div>

      <!-- Promo Code Section -->
      <form [formGroup]="couponForm" (ngSubmit)="addCoupon(couponForm)">
        <p>PROMO CODE</p>
        <input id="code" placeholder="Enter your code" formControlName="name">
        @if(couponError !==''){
        <label class="form-label text-danger">{{couponError}}</label>
        }
        <button type="submit" [disabled]="couponForm.invalid" class="btn btn-outline-danger">Add Code</button>
      </form>
      <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
        <div class="col">TOTAL PRICE</div>
        <div class="col text-right">
          {{cart?.totalPrice + taxPrice | currency}}
          @if(cart?.totalPriceAfterDiscount) {
          <br><span class="text-muted">After Discount: {{cart?.totalPriceAfterDiscount + taxPrice | currency}}</span>
          }
        </div>
      </div>

      <!-- Checkout Button -->
      <button class="btn btn-danger" (click)="createOrder()">CHECKOUT</button>
    </div>
  </div>
</div>
