<div class="container m-5">
  <h1 class="text-center my-5 animated-title">Profile Information</h1>
  <div class="w-50 m-auto shadow p-4 rounded-3 d-flex justify-content-center align-items-center bg-light gradient-custom-4">
    <div class="w-25">
      <img class="w-75 rounded-4 shadow" [src]="userImage+user.image" alt="{{user.name}}">
    </div>
    <div class="w-75 ps-4">
      <div class="my-3">
        <label for="email" class="form-label fw-bold">Email:</label>
        <p class="form-text">{{user.email}}</p>
      </div>
      <div class="my-3">
        <input class="form-control shadow-sm" type="text" placeholder="name" (change)="getName(userName.value)" #userName [value]="user.name">
      </div>
      <div class="my-3">
        <input class="form-control shadow-sm" (change)="getFile($event)" type="file" accept="image/*">
      </div>
      <div class="my-3 text-center">
        <button (click)="updateUser()" class="btn btn-gradient-custom">Update Data</button>
      </div>
    </div>
  </div>
</div>

<hr class="my-5">

<div class="container m-5">
  <h1 class="text-center my-5 animated-title">Change Password</h1>
  <form [formGroup]="passwordForm" (ngSubmit)="changeUserPassword(passwordForm)" class="w-50 m-auto shadow p-4 rounded-3 bg-light gradient-custom-4">
    <div class="my-3">
      <input formControlName="currentPassword" class="form-control shadow-sm" type="password" placeholder="Current password">
      @if(passwordForm.get('currentPassword')?.errors!==null && passwordForm.get('currentPassword')?.touched && currentPasswordError===''){
      <div class="text-danger mt-3">
        @if(passwordForm.get('currentPassword')?.errors?.['required']){
          <p>Current password is required</p>
        }
        @if(passwordForm.get('currentPassword')?.errors?.['minlength'] || passwordForm.get('currentPassword')?.errors?.['maxlength']){
          <p>Password must be between 6 and 20 characters</p>
        }
      </div>
      }
      @if(currentPasswordError!==''){
      <div class="text-danger mt-3">
        <p>{{currentPasswordError}}</p>
      </div>
      }
    </div>
    <div class="my-3">
      <input formControlName="password" class="form-control shadow-sm" type="password" placeholder="New password">
      @if(passwordForm.get('password')?.errors!==null && passwordForm.get('password')?.touched){
      <div class="text-danger mt-3">
        @if(passwordForm.get('password')?.errors?.['required']){
          <p>New password is required</p>
        }
        @if(passwordForm.get('password')?.errors?.['minlength'] || passwordForm.get('password')?.errors?.['maxlength']){
          <p>Password must be between 6 and 20 characters</p>
        }
      </div>
      }
    </div>
    <div class="my-3">
      <input formControlName="confirmPassword" class="form-control shadow-sm" type="password" placeholder="Confirm password">
      @if(passwordForm.get('confirmPassword')?.errors!==null && passwordForm.get('confirmPassword')?.touched && passwordError===''){
      <div class="text-danger mt-3">
        @if(passwordForm.get('confirmPassword')?.errors?.['required']){
          <p>Confirm password is required</p>
        }
        @if(passwordForm.get('confirmPassword')?.errors?.['minlength'] || passwordForm.get('confirmPassword')?.errors?.['maxlength']){
          <p>Password must be between 6 and 20 characters</p>
        }
      </div>
      }
      @if(passwordError!==''){
      <div class="text-danger mt-3">
        <p>{{passwordError}}</p>
      </div>
      }
    </div>
    <div class="my-3 text-center">
      <button [disabled]="passwordForm.invalid" class="btn btn-gradient-custom">Update Password</button>
    </div>
  </form>
</div>
