.card {
  border: none;
}

.card-body {
  background: #f7f7f7;
}

.fas.fa-star {
  font-size: 18px;
}

.text-warning {
  color: #ffcc00;
}

.text-muted {
  color: #ddd;
}

.rounded-circle {
  border: 1px solid #ccc;
}

.pagination .page-link {
  color: #555;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
}
