<section class="bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center gradient-custom-3">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <h2 class="text-uppercase text-center mt-4 mb-3">Forget Password</h2>
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card card-body p-4 mb-5" style="border-radius: 15px;">

            <!-- Email Input Form for Forget Password -->
            @if(!sendMailFlag) {
              <form [formGroup]="sendMailForm" (ngSubmit)="sendMail(sendMailForm)">
                <div class="form-outline mb-3 form-group">
                  <label class="form-label" for="formEmail">Your Email</label>
                  <input formControlName="email" type="email" id="formEmail" class="form-control form-control-lg" placeholder="Your Email" required />
                  @if(sendMailForm.get('email')?.errors!==null && sendMailForm.get('email')?.touched && sendMailError === '') {
                    <div class="text-danger mt-1">
                      @if(sendMailForm.get('email')?.errors?.['required']){<p>Email Required</p>}
                      @if(sendMailForm.get('email')?.errors?.['email']){<p>Invalid email</p>}
                    </div>
                  }
                  @if(sendMailError !== '') {
                    <div class="text-danger mt-1">
                      <p>{{sendMailError}}</p>
                    </div>
                  }
                </div>
                <div class="d-flex justify-content-center">
                  <button [disabled]="sendMailForm.invalid" type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                    Send Mail
                  </button>
                </div>
              </form>
            }

            <!-- Reset Code Form -->
            @if(sendMailFlag && !verifyCodeFlag) {
              <form [formGroup]="verifyCodeForm" (ngSubmit)="verifyCode(verifyCodeForm)">
                <div class="form-outline mb-3 form-group">
                  <label class="form-label" for="resetCode">Reset Code</label>
                  <input formControlName="resetCode" type="text" id="resetCode" class="form-control form-control-lg" placeholder="Reset Code" required />
                  @if(verifyCodeForm.get('resetCode')?.errors!==null && verifyCodeForm.get('resetCode')?.touched && verifyCodeError === '') {
                    <div class="text-danger mt-1">
                      @if(verifyCodeForm.get('resetCode')?.errors?.['required']){<p>Reset Code Required</p>}
                      @if(verifyCodeForm.get('resetCode')?.errors?.['maxlength']){<p>Invalid Reset Code</p>}
                    </div>
                  }
                  @if(verifyCodeError !== '') {
                    <div class="text-danger mt-1">
                      <p>{{verifyCodeError}}</p>
                    </div>
                  }
                </div>
                <div class="d-flex justify-content-center">
                  <button [disabled]="verifyCodeForm.invalid" type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                    Verify Code
                  </button>
                </div>
              </form>
            }

            <!-- Reset Password Form -->
            @if(verifyCodeFlag) {
              <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm)">
                <div class="form-outline mb-3 form-group">
                  <label class="form-label" for="newPassword">New Password</label>
                  <input formControlName="password" type="password" id="newPassword" class="form-control form-control-lg" placeholder="New Password" required />
                  @if(resetPasswordForm.get('password')?.errors!==null && resetPasswordForm.get('password')?.touched) {
                    <div class="text-danger mt-1">
                      @if(resetPasswordForm.get('password')?.errors?.['required']){<p>Password Required</p>}
                      @if(resetPasswordForm.get('password')?.errors?.['minlength'] || resetPasswordForm.get('password')?.errors?.['maxlength']){<p>Password length must be between 6 and 20 characters</p>}
                    </div>
                  }
                </div>

                <div class="form-outline mb-3 form-group">
                  <label class="form-label" for="confirmPassword">Confirm Password</label>
                  <input formControlName="confirmPassword" type="password" id="confirmPassword" class="form-control form-control-lg" placeholder="Confirm Password" required />
                  @if(resetPasswordForm.get('confirmPassword')?.errors!==null && resetPasswordForm.get('confirmPassword')?.touched) {
                    <div class="text-danger mt-1">
                      @if(resetPasswordForm.get('confirmPassword')?.errors?.['required']){<p>Confirm Password Required</p>}
                      @if(resetPasswordForm.get('confirmPassword')?.errors?.['minlength'] || resetPasswordForm.get('confirmPassword')?.errors?.['maxlength']){<p>Password length must be between 6 and 20 characters</p>}
                    </div>
                  }
                  @if(resetPasswordError !== '') {
                    <div class="text-danger mt-1">
                      <p>{{resetPasswordError}}</p>
                    </div>
                  }
                </div>

                <div class="d-flex justify-content-center">
                  <button [disabled]="resetPasswordForm.invalid" type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                    Reset Password
                  </button>
                </div>
              </form>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
